<table class="table">
  <% post.post_comments.each do |post_comment| %>
  <tr>
    <td>
    <%= attachment_image_tag post.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %>
    <%= post.user.name %>
    </td>
    <td>
    <%= post_comment.comment %>
    </td>
    <td>
    <% if current_user.id == post.user_id %>
    <%= button_to "削除する", post_post_comment_path(post_comment.post, post_comment),class: "btn btn-danger",method: :delete, remote: true %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>