<div class="container mt-5">
  <div class="row">
　<h2>通知一覧</h2>
　</div>
　<div class="row">
　　<p>
    　<%= button_to user_destroy_all_path, method: :delete, class: "mybutton btn btn-danger" do %>
    　　<i class="fas fa-trash" style="color: black;"></i>
    　　<h7 style="color: black;">通知全削除</h7>
    　<% end %>
    </p>
　</div>
　<hr>
　<div class="row">
    <p>
    　<% if @notifications.exists? %>
    　　<div class="users-index">
    　　<%= render @notifications %>
    　　</div>
    　<% else %>
    　　<p>通知はありません</p>
    　<% end %>
    </p>
　</div>
</div>
