  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <h2 class="mt-6 pt-5">お問い合わせありがとうございました！</h2>
        <h2>お問い合わせは完了しました</h2>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>