<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto mt-5">
        <h1>well come to<strong>Newfarmer</strong>!!</h1>
        <p class="mt-5">このサイトは家庭菜園の写真を投稿するサイトです。</p>
        <p>新規登録をしてもらえば新規投稿を行うことができます。</p>
        <p>さらにカレンダー機能<i class="fas fa-calendar-check"></i>を使って栽培予定も書き込めます！</p>
      </div>
    </div>
  </div>
</main>